{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off",
    "no-console": "off",
    "no-confusing-arrow": "off",
    "consistent-return":"off",
    "class-methods-use-this": "off"
  }
}
