{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "no-console": 0,
    "no-confusing-arrow": 0
  }
}
